body{
  background-color: #F2FFE9;
}
h1{
  background-color: #5F7161;
  color: white;
  text-align: center;
}
h2{
  text-align: left;
  background-color: #6D8B74;
  color:white;
}
h3,a{
  background-color: #BB9981;
  color: white;
  text-align: center;

}
.paragraph{
  text-align: justify;
  background-color:#FAFDD6;
  color: #2C272E;
}
